# ignore object files and other c/pillar build related things
*.o
*.obj
*.exp
*.lib
*.pdb
*.suo
root_map.txt

# ignore emacs save files
*~

# ignore executables
*.exe

# ignore core p files
*.cp

# ignore .c files unless they are in the runtime directory
*.c
!runtime/ghc/*.c

#ignore .hi (haskell interface) files
*.hi

# ignore the frontend build files
build/vc60/frontend-old/Debug/
build/vc60/frontend-old/frontend-old.plg

# ignore the regression log and tmp directory
regressions.log
tests/tmp

runtime/hil.mil

# Autotools
*.deps
.dirstamp
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
stamp-h
stamp-h1
ylwrap

# /
/Makefile

# /
/bin/frontend-new
/bin/hrc

# /compiler
compiler/core-hs/core-hs.grm.desc
compiler/core-hs/core-hs.grm.sig
compiler/core-hs/core-hs.grm.sml
compiler/core-hs/core-hs.lex.sml
compiler/version.sml

# /runtime
/runtime/Makefile
/runtime/Makefile.in
/runtime/ghc/*.a
